 .header {
     grid-template-columns: 1fr auto 1fr;
     display: grid;
     align-items: center;

 }

 body {
     margin: 0px;
     font-family: sans-serif;
     text-align: center;
 }

 h1 {
     text-align: center;
     margin: 30px;
 }

 p {
     text-align: center;
     margin: 10px;
 }

 img {
     height: -98px;
     float: right;
     margin-top: -95px;
 }

 @page {
     size: A4;
     margin: 30mm;
 }